body {
    background-color: #202020;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    transition: box-shadow 0.25s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 15px #FFFFFF;
}

.section {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}

.loader {
    margin-top: 20px;
}

.contacts {
    margin-top: 20px;
}

.contacts__item {
    background-color: #121212;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts__item:not(:last-child) {
    margin-bottom: 10px;
}

.buttons__delete {
    background-color: #ED3024;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.buttons__edit, .save-button {
    background-color: #3137C9;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.info__name {
    margin-bottom: 10px;
}

.reset, .button-submit {
    width: 100%;
    background-color: #3137C9;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.reset {
    margin-bottom: 20px;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.form {
    width: 50%;
    margin: 20px auto;
    height: fit-content;
    padding: 15px 25px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: #121212;
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 10px 0;
}

.button-submit {
    margin-top: 10px;
}

@media(min-width: 768px) {
    body {
        font-size: 16px;
    }

    .buttons__delete {
        margin-right: 15px;
    }
}